<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myController">
<p>radius : <input ng-model="r"></p>
<p>
Area is {{ar}}<br>
Crcumference is {{cir}}
</p>
<p>
<button ng-click="cArea()">Area</button> 
<button ng-click="cCircumference()">Circumference</button>
</p>
</body>
<script>
var app = angular.module("myApp",[])
app.controller("myController",function($scope,CircleService){
$scope.cArea = function(){
var t1 = parseFloat($scope.r)
$scope.ar = CircleService.getCircleArea(t1);
}

$scope.cCircumference = function(){
var t1 = parseFloat($scope.r)
$scope.cir = CircleService.getCircleCircumference(t1)
}

});

app.service('CircleService',function(){
this.getCircleArea = function(r){
return 3.14*r*r;
}
this.getCircleCircumference=function(r){
return 2*3.14*r;
}
})

</script>
</html>